/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1. feb. 2020, 15.26.36
    Author     : ander
*/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.login-button
{
    -fx-background-color: #009fe3;


    
}
.login-button:hover
{
    -fx-background-color: #ff0000;
    
}

.background
{
    -fx-background-image: url("https://i.imgur.com/gvDeIv3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.middlebackground
{
    -fx-background-color: rgba(0,0,0,0.2);
}

.label
{
        -fx-font-family: 'Oswald', sans-serif;
}