/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1. feb. 2020, 15.26.36
    Author     : ander
*/

.login-button
{
    -fx-background-color: #009fe3;
}

.background
{
    -fx-background-image: url("https://i.imgur.com/gvDeIv3.png");
    -fx-background-repeat: no-repeat;
}

.middlebackground
{
    -fx-background-color: rgba(0,0,0,0.2);
}